@inherits LayoutComponentBase
@inject UserStatsService UserStats

<PageTitle>Blazor Games Server</PageTitle>

<NavMenu />

@if (isConnected) // checking for session info before rendering adding the content to render
{
    @if (isGuest)
    {
        <LogInPrompt />
    }

    <hr />

    <SessionStateProvider>
        <main> @Body </main>
    </SessionStateProvider>
}
else
{
    <p>checking session info...</p>
}

@code {
    private int userCount;
    private bool isConnected;
    private bool isGuest;

    protected override async Task OnInitializedAsync()
    {
        userCount = await UserStats.GetCountAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = true;
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    // using LoadStateAsync method to allow server prerender and avoid JSInterop error
    private async Task LoadStateAsync()
    {
        var userState = await ProtectedSessionStore.GetAsync<User>("user");
        if (!userState.Success)
        {
            await ProtectedSessionStore.SetAsync("user", new User($"guest{userCount}", UserType.Guest));
            await UserStats.IncreaseCountAsync();
            isGuest = true;
        }
        else
        {
            isGuest = userState.Value?.Type == UserType.Guest;
        }
    }
}