<h3>NavMenu</h3>

<nav>
    <NavLink href="" Match="NavLinkMatch.All">
        <span>Home</span>
    </NavLink>
    <NavLink href="counter" Match="NavLinkMatch.All">
        <span>Counter</span>
    </NavLink>
    <NavLink href="tictactoe" Match="NavLinkMatch.All">
        <span>Tic Tac Toe</span>
    </NavLink>
</nav>

@code {

}
