@if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <p>Loading...</p>
}

@code {
    private bool isLoaded;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public User? currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userState = await ProtectedSessionStore.GetAsync<User>("user");
        currentUser = userState.Success ? userState.Value : null;
        isLoaded = true;
    }

}
