@page "/"
@implements IAsyncDisposable

<PageTitle>Home Page</PageTitle>

@if (sessionState is not null) // checking for session info
{
    <label>
        @currentUser?.Name (@currentUser?.Type)
    </label>
    <Chat RoomName="index" />
}
else
{
    <p>Loading Session info...</p>
}

@code {
    private User? currentUser;

    [CascadingParameter]
    private SessionStateProvider? sessionState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (sessionState is not null)
        {
            currentUser = sessionState.currentUser;
        }

        await Task.CompletedTask; // leaving method here, but this line is to prevent warnings
    }

    public async ValueTask DisposeAsync()
    {
        await Task.CompletedTask; // leaving method here, but this line is to prevent warnings
    }
}